@CHARSET "ISO-8859-1";

fieldset {
	padding: 1em;
	font: 80% san-serif;
	
}

legend {
	font-weight:bold;
	color:#336699;
}

label {
	display: inline-block;
	display:inline;
	zoom:1;
	float:left;
	padding-top:5px;
	text-align:right;
	width:140;
	font-weight: bold;
}

input{
	margin-top: 5px;
	margin-bottom:5px;
	display:inline;
	display: inline-block;
	vertical-align: middle;
	zoom:1;
	margin-left: 20px;
}

h2{
	color:##33669;
}

input [type='submit']{
	float:left;
	margin-left:200px;
	margin-top:25px;
	padding-top:2em;
	text-align:right;
}
div#form{
	width:60%;
}